# VS Code
*.code-workspace
.vscode/

# Environment variables
.env
.env.*
!.env.example


# Node / React
node_modules/
dist/

# OS
.DS_Store
Thumbs.db

# Python
server/venv/
server/.venv/
__pycache__/
*.pyc

# Ambientes
.env
.env.local

# Node
node_modules/